{{#-bs/row}}
  {{#-bs/col sm=6}}
    <div class="form-group">
      <label>Campaign Name</label>
      {{input type="text" class="form-control" value=campaign.name}}
    </div>
  {{/-bs/col}}
  {{#-bs/col sm=6}}
    <div class="form-group">
      <label>Promo Code</label>
      {{input type="text" class="form-control" value=campaign.promoCode}}
    </div>
  {{/-bs/col}}
{{/-bs/row}}
