{{#if isNew}}
  <p class="card-text">The campaign must be created before you can get the embed code.</p>
{{else}}
  <p class="card-text">To manually place this component, copy this code and paste it on your site where you'd like it to appear:</p>
  <p><code>{{ embedCode }}</code></p>
{{/if}}
<p class="card-text">To automatically place this component, view the Targets tab.</p>

